<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">{{ site.title | escape }}</a>
    {% if site.email %}
    <a class="navbar-social" href="mailto:{{ site.email }}">
      <i class="far fa-envelope fa-inverse show-wide"></i>
      <i class="far fa-envelope show-narrow"></i>
    </a>
    {% endif %}
    {% if site.facebook_username %}
    <a class="navbar-social" href="https://www.facebook.com/{{ site.facebook_username }}">
      <i class="fab fa-facebook fa-inverse show-wide"></i>
      <i class="fab fa-facebook show-narrow"></i>
    </a>
    {% endif %}
    {% if site.instagram_username %}
    <a class="navbar-social" href="https://instagram.com/{{ site.instagram_username }}">
      <i class="fab fa-instagram fa-inverse show-wide"></i>
      <i class="fab fa-instagram show-narrow"></i>
    </a>
    {% endif %}
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Meny
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <!--
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Hem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/about" | relative_url }}">Om Oss</a>
        </li>
        -->
        <li class="nav-item">
          <a class="nav-link" href="{{ "/posts" | relative_url }}">Uppdateringar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/contact" | relative_url }}">Kontakta Oss</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
